* {
  box-sizing: border-box;
  font-family: cursive;
}

body {
  background-image:url("Huellasperrunas.jpg");
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 40px;
  margin: 0;
}

.form-container {
  background-color: #F5DEB3;
  padding: 25px 30px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form label {
  display: block;
  margin-top: 15px;
  color: #696969;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #C0C0C0;
  border-radius: 4px;
}

form button {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

form button:hover {
  background-color: #FA8072;
}
